@import "../../../../scss/constant";

.dashboard-navigator {
  width: 100%;
  padding: 0;
  background-color: $off-white;
  overflow: hidden;
  border-right: 1px solid $grey-2;
  display: grid;
  grid-template-columns: calc(100% - #{$navigator-width}) $navigator-width;
}