@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$primary-dark-green: #006038;
$primary-green: #10ac84;
$light-blue: #dbe2ef;
$white: #ffffff;
$black: #000000;
$off-white: #f5f7f8;
$dark-grey: #787A7B;
$grey: #DEE0E1;
$grey-2: #E6E8E9;
$light-grey: #EDEFF0;
$green: #27ae60;
$red: #e74c3c;

$font-family-custom: Montserrat, sans-serif;
$font-family-normal: Verdana, sans-serif;

$default-border-radius: 3px;

$header-height: 60px;
$left-container-width: 30%;
$navigator-width: 300px;


$z-index-map: ("modal": 1000);