@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$dark-blue: #112d4e;
$blue: #3f72af;
$light-blue: #dbe2ef;
$white: #ffffff;
$off-white: #f9f7f7;
$grey: #dddddd;
$green: #27ae60;
$red: #e74c3c;

$font-family-custom: Montserrat, sans-serif;
$font-family-normal: Verdana, sans-serif;

$default-border-radius: 3px;