@import "../../../../../scss/constant";
@import "../../../../../scss/common/button";
@import "../../../../../scss/mixin";

.navigator-item-container {
  .navigator-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: .9rem;
    padding: 5px;
    height: 30px;
    border-radius: $default-border-radius;

    .title {
      flex: 9;
    }

    .options {
      flex: 1;
      display: none;

      button {
        img {
          height: 30px;
        }
      }
    }
    &:hover {
      cursor: pointer;
      background-color: $light-grey;
      .options {
        display: block;
      }
    }
    .expand-arrow {
      margin-right: 10px;
      @include transition(transform .2s);
      @include transform(rotate(0deg));
      &.expanded {
        @include transform(rotate(90deg));
      }
      &.hidden {
        opacity: 0;
      }
      img {
        height: 10px;
      }
    }
    .dropdown-button button img {
      opacity: .5;
    }
  }
  .navigator-children {
    padding-left: 10px;
  }
}
