@import "../constant";

@mixin rounded-dark-button() {
  background-color: $blue;
  color: $white;
  border: none;
  border-radius: $default-border-radius;
  padding: 10px 30px;
  font-size: .9rem;
  cursor: pointer;
  outline: none;
  &:hover, &:active {
    background-color: $dark-blue;
  }
}

@mixin plain-button() {
  background-color: transparent;
  border: none;
  color: $dark-blue;
  cursor: pointer;
}