@import "../constant";
@import "../mixin";

@mixin card() {
  padding: 30px;
  background-color: $white;
  @include box-shadow(1px 2px 4px $grey);
  border-radius: $default-border-radius;
  border: 1px solid $grey-2;
}
