@import "~codemirror/lib/codemirror.css";
@import "~tui-editor/dist/tui-editor.css";
@import "~tui-editor/dist/tui-editor-contents.css";
@import "~highlight.js/styles/github.css";

.tui-editor-defaultUI {
  border: none;

  .tui-editor-defaultUI-toolbar {
    padding: 0;
  }

  .tui-editor-contents, .CodeMirror-lines {
    padding: 10px 0 0 0 !important;
  }

  .te-preview .tui-editor-contents {
    padding: 0 !important;
  }

  .te-mode-switch-section {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border-top: none;

    .te-switch-button {
      height: 31px;
      line-height: 31px;
      border: none;
      background-color: transparent;
      padding: 0 10px;
      width: auto;
    }
  }
}