@import "../../../scss/constant";
@import "../../../scss/mixin";
@import "../../../scss/common/card";
@import "../../../scss/common/button";
@import "../../../scss/common/input";

#signup-page {
  .container {
    position: absolute;
    top: 35%;
    left: 50%;
    @include transform(translate(-50%, -35%));
    @include card();
    text-align: center;
    width: 300px;

    @include smartphones() {
      width: calc(240px);
      position: relative;
      top: 50px;
      left: 50%;
      @include transform(translate(-50%, 0%));
    }

    h1 {
      color: $dark-blue;
      font-weight: 100;
    }

    form {
      input {
        @include input()
      }
      button {
        margin: 10px 0 20px;
        display: block;
        width: 100%;
        @include rounded-dark-button();
      }
    }

    .options {
      padding-top: 20px;
      border-top: 1px solid $grey;
      a {
        font-size: .8rem;
        color: $blue;
      }
    }
  }
}