@import "../../../scss/constant";

$size: 38px;

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $size;
  width: $size;
  border-radius: $size / 2;
  background-color: $primary-green;
  .avatar-label {
    font-size: $size / 2.5;
    color: $white;
    font-weight: 400;
    text-transform: uppercase;
  }
}