@import "../../../scss/constant";
@import "../../../scss/common/button";
@import "../../../scss/common/card";
@import "../../../scss/mixin";

.dropdown-button {
  position: relative;
  button {
    @include plain-button();
    outline: none;
  }
  .dropdown-container {
    z-index: 100;
    @include card();
    @include box-sizing(border-box);
    position: absolute;
    top: 0;
    left: 100%;
    padding: 10px;
    &.bottom {
      top: calc(100% + 10px);
      right: 0;
      left: auto;
    }
    &.hidden {
      display: none;
    }
    &.visible {
      display: block;
    }
    .option {
      cursor: pointer;
      white-space: nowrap;
      padding: 10px;
      font-size: .7rem;
      &:hover {
        background-color: $light-grey;
      }
    }
  }
}