@import "../../../scss/constant";
@import "../../../scss/common/button";
@import "../../../scss/common/card";
@import "../../../scss/mixin";

.dropdown-button {
  position: relative;
  button {
    @include plain-button();
    outline: none;
  }
  .dropdown-container {
    z-index: 100;
    @include card();
    @include box-sizing(border-box);
    position: absolute;
    top: 0;
    left: 100%;
    padding: 3px;
    text-align: left;
    &.bottom {
      top: calc(100% + 10px);
      right: 0;
      left: auto;
    }
    &.left {
      top: 0;
      right: calc(100% + 10px);
      left: auto;
    }
    &.hidden {
      display: none;
    }
    &.visible {
      display: block;
    }
    .section {
      border-bottom: 1px solid $light-grey;
      label {
        display: block;
        padding: 10px 10px 5px 10px;
        font-size: .6rem;
        color: $dark-grey;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
    .option {
      cursor: pointer;
      white-space: nowrap;
      padding: 10px;
      font-size: .7rem;
      &:hover {
        background-color: $light-grey;
      }
    }
  }
}