@import "../../../scss/constant";
@import "../../../scss/mixin";

#header {
  background-color: $white;
  width: 100%;
  border-bottom: 1px solid $grey-2;

  #header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 30px;
    height: $header-height;
    @include box-sizing(border-box);

    div {
      flex: 1;
    }

    .logo {
      font-size: 1.3rem;
      color: $primary-green;
      font-family: $font-family-custom;
      text-decoration: none;
      font-weight: 800;
    }

    .options {
      .dropdown-button {
        display: inline-block;
        float: right;
      }
    }
  }
}