@import "../../../scss/constant";
@import "../../../scss/mixin";

#header {
  background-color: $blue;
  width: 100%;
  #header-container {
    display: grid;
    grid-template-columns: calc(100% - 50px) 50px;
    align-items: center;
    padding: 0 30px;
    height: 60px;
    @include box-sizing(border-box);
    @include max-size();

    .logo {
      font-size: 1.3rem;
      color: $white;
      font-family: $font-family-custom;
      text-decoration: none;
    }
  }
}