@import "../../../scss/constant";
@import "../../../scss/mixin";

#header {
  display: flex;
  height: 60px;
  background-color: $blue;
  width: 100%;
  align-items: center;
  padding: 0 30px;
  @include box-sizing(border-box);
  .logo {
    font-size: 1.3rem;
    color: $white;
    font-family: $font-family-custom;
    text-decoration: none;
  }
}