@import "../../../../scss/common/tui";
@import "../../../../scss/constant";
@import "../../../../scss/common/card";
@import "../../../../scss/mixin";
@import "../../../../scss/common/button";

.document-editor {
  @include card();
  @include box-sizing(border-box);
  width: 100%;
  background-color: $white;

  input {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  * {
    font-family: $font-family-normal !important;
  }
}
